
  html {
    background: #f2f1f4;
    color: #19171c;
}

.title {
    font-size: x-large;
    width: 60%;
    border: solid;
    margin: auto;
    margin-top: 4px;
}

.description {
    display: none;
    width: 50%;
    margin: auto;
}